@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
@import "tailwindcss";

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui !important;
  font-weight: 400;
  font-size: xx-large;
  font-style: normal;
}
